Swift2.playground/playground.xcworkspace/xcuserdata/mac.xcuserdatad/UserInterfaceState.xcuserstate
Swift2.playground/Pages/7-Closures.xcplaygroundpage/timeline.xctimeline
Swift2.playground/playground.xcworkspace/xcshareddata/
