Swift2.playground/playground.xcworkspace/xcuserdata/mac.xcuserdatad/*
Swift2.playground/playground.xcworkspace/xcshareddata/*
Swift2.playground/playground.xcworkspace/xcuserdata/
.DS_Store
*.xctimeline
Swift.playground/playground.xcworkspace/xcuserdata/anyuan.xcuserdatad/UserInterfaceState.xcuserstate
Swift Standard Library.playground/playground.xcworkspace/xcuserdata/anyuan.xcuserdatad/UserInterfaceState.xcuserstate
